<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>Travel Planner</title>
  <link rel="shortcut icon" href="#">
</head>

<body>
  <header>
    <h1>Travel Planner - Plan Your Next Trip</h1>
    <div class="intro">"Are you <span class="emphasized">travelling</span>? Let's be your personal travel assistant.
      With Travel Planner you can plan
      your next trip and get the best out of it."
      <div class="container">
        <div id="left-box">
          <div class="top-right">
            <h2 id="explore">EXPLORE!!!</h2>
          </div>
        </div>
        <div id="right-box">
          <h2>My Trips:</h2>
          <form class="entry_holder_form" onsubmit="return Client.handleSubmit(event)">
            <label for="location">My trip to</label>
            <input type="text" id="location" placeholder="enter destination here">
            <label for="departureDate">Departing on</label>
            <input type="date" id="departure" />
            <input type="button" id="submit" placeholder="submit" value="Submit"
              onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
          </form>
          <div class="buttons">
            <button id="saveButton" type="submit">Save Trip</button>
            <button id="removeButton" type="submit">Remove Trip</button>
          </div>
        </div>
      </div>
    </div>
  </header>
  </div>

  <section id="results__container">
    <div>
      <div id="date"></div>
      <div id="location"></div>
      <div id="temp_high"></div>
      <div id="temp_low"></div>
      <img id="dest_pic" src="" alt="">

    </div>
  </section>
  <footer>
    <p>copyright Dupsy-hub for Udacity</p>
  </footer>

  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
  <script type="text/javascript" src="main.js"></script>

</body>

</html>