
.headline {
    font-size: 45px;
    height: 100px;

}
.title{
    font-size: 30px;
    font-style: bold;

}

/*  Basic Styling To Override Default For Basic HTML Elements */

h1{
    font-size: 50px;
}
h2{
    font-size:20px;
    
}

#explore {
    color: rgb(255, 0, 0);
    font-style: italic;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
.container{
    position: relative;
    text-align: center;
    display: flex;
}
#left-box {
    min-width: 50%;
    margin-right: 10%;
}